image: luistt/drone-prime-publish:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-{{build.commit}}{{/if}}
manifests:
  -
    image: luistt/drone-prime-publish:{{#if build.tag}}{{build.tag}}{{else}}{{replace "release/" "" build.branch }}-{{build.commit}}{{/if}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
